:root {
  --textColor: #000;
  --backgroundColor: #f5f5f7;
  --cardColor: #fff;
}

[color-scheme="dark"] {
  --textColor: #fff;
  --backgroundColor: #000;
  --cardColor: #000;
}

body {
  background-color: var(--backgroundColor);
}

.App {
  margin: 5vw;
}

.spinner-wrapper {
  height: 100vh;
  align-items: center;
  display: flex;
}

.product__item {
  border: 1px solid #fff;
  background: var(--cardColor);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 10px 30px;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  transition: all 0.5s;
}

[color-scheme="dark"] .product__image {
  filter: invert();
}

.product__name {
  width: 100%;
  color: var(--textColor);
  margin-bottom: 10px;
}

.product__features {
  align-self: center;
  list-style: none;
  width: 35vw;
  padding: 0;
}

.product__features > li {
  padding: 5px 0;
  text-align: justify;
  color: var(--textColor);
}

.product__item:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.product__price {
  width: 10vw;
  white-space: pre;
  color: var(--textColor);
}

@media only screen and (max-width: 1200px) {
  .App {
    margin: 1vw;
  }
}
@media only screen and (max-width: 1200px) {
  .product__name {
    width: initial;
  }

  .product__item {
    flex-flow: column;
    padding: 30px;
  }

  .product__features {
    width: initial;
  }

  .product__price {
    width: initial;
  }

  .product__features > li {
    text-align: center;
  }
}
